.tableContainer {
  @apply overflow-auto;

  & .table {
    @apply w-full;

    & .thead {
      @apply bg-gray-100;

      & .th {
        @apply px-2;
      }
    }

    & .trow {
      @apply border-b-1;
    }
  }
}
